
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditMessage</title>
</head>
<body>
    <div>
        <form action="SetMessage" method="post">
            Enter Message Text: <input type="text" name="text" />
            <br>
            <input type="submit" name="text" />
        </form >
    </div>
</body>
</html>
