
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <label>Message initialized</label><br>

        @Html.ActionLink("View message", "ViewMessage")   <br>
        @Html.ActionLink("Edit message", "EditMessage")   <br>

    </div>
</body>
</html>
